extends ./base.jade

block content
	div(style="margin-top:210px; text-align: center")
		h1.logo Startuplytics
	#searchForm
		#searchBarContainer
			input(type="text").sb
			input(type="button" value="Search").btn.btn-default