body {
    font-family: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a, a:link, a:visited {
    color: #2A40C9;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.header {
    background-color: #f4f4f4;
    padding: 8px 20px;
    border-bottom: 1px solid #ddd;

}

.logo {
    color: #e74c3c;
    font-size: 28px;
    margin: 5px 20px 5px 0;
    padding: 0;
}

/* #searchForm {
    position: absolute;
    top: 310px;
    width: 100%;    
}

#searchBarContainer {
    width: 600px;
    margin: 0 auto;
} */

.sb {
    width: 500px;
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-top-color: #c0c0c0;
    padding: 6px 9px;
    font: 16px arial,sans-serif;
    line-height: 1.2em !important;
    margin: 6px 0;
}

#searchBarContainer .btn {
    margin-top: -1px;
    margin-left: 5px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: .65;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}

.content-wrapper{
}

.list-wrapper{
    margin-left: 145px;
    width: 550px;
}

.related-list {
    width: 300px;
}

.related-list h3{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;  
    color: #aaa;
    margin: 30px 0 10px;
}

.related-list .company-name a, .related-list .company-name a:link {
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    padding-left: 20px;
    width: 220px;  
}

.related-list li {
    opacity: 0.5;
}

.related-list li:hover{
    opacity: 1;
}

.related-list .company-item-img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

ul.company-list {
    list-style: none;
    margin:0; padding:0;
}

.company-list-item, .related-list li {
    padding: 9px 0 25px;
}

.company-list-condensed .company-list-item {
    padding: 15px 0;
}

.company-name a:link, .company-name a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    transition: color 0.1s linear;
    width: 470px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.company-list-condensed .company-name a:link, .company-list-condensed .company-name a {
    font-weight: 300;
    font-size: 17px;
    max-width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display:block;
    line-height: 36px;
}

.company-name a:hover {
    color: #3850D9;
}

.company-meta {
    font-size: 12px;
    color: #888;
}

.company-item-img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.company-item-img-hlp {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.company-item-img img {
    max-height: 40px;
    max-width: 40px;
    vertical-align: middle;
    margin: auto 0;
}

.result-status {
    font-size: 14px;
    color: #aaa;
    padding: 20px 0 10px;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #888;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


.spinner-bounce {
  margin: 0 auto 0;
  width: 70px;
  text-align: center;
}

.spinner-bounce > div {
  width: 18px;
  height: 18px;
  background-color: #e74c3c;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner-bounce .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner-bounce .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.thumb {
    text-align: center;
    background-color: #fff;
}

.thumb.thumb-failed {
    background-color: #888;
}

.thumb-placeholder{
    font-weight: 700;
    color: #fff;
    display: none;
}

.thumb-loaded .spinner, .thumb-failed .spinner, .thumb-loading img{
    display: none;
}

.thumb-failed  .thumb-placeholder {
    display:block;
}

.thumb-failed img {
    display:none;
}

.pager {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin: 20px 0 30px;
}

.page-link {
    color: #000;
    font-weight:700;
    padding: 4px 7px;
    min-width: 27px;
    text-align:center;
    border-radius: 3px;
    margin-right:15px;
    transition: all 0.05s linear;
}

.page-link.col-right{
    margin-right:0;
    margin-left: 15px;
}

.page-link:hover {
    background-color: #e74c3c;
    color :#fff;
    cursor:pointer;
    text-decoration: none;
}

.page-link.page-curr, .page-link.page-curr:hover {
    border: 1px solid #ddd;
    text-decoration:none;
    background:#fff;
    color: #e74c3c;
    cursor:default;
}

.profile-img {
    width: 120px;
    height: 120px;
    margin-top: 30px;
    box-sizing: border-box;
    text-align:center;
}

.profile-img img {
    vertical-align:top;
    float: none;
    border: 1px solid #ddd;
    padding: 5px;
}

.profile-content {
    width: 850px;
    margin-left: 30px;
}

.profile-content h2{
    font-weight: 500;
    margin: 30px 0 10px;
    font-size: 32px;
}

.profile-desc {
    padding: 0 0 20px;
    color: #888;
    font-weight: 400;
}

.profile-summary{
    width: 100%;
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: 13px;
}

.profile-summary.loaded .spinner-bounce{
    display:none;
}

.profile-summary.loading {
    text-align:center;
    padding: 30px;
    border: none;
}

.profile-panel{
    border-bottom: 1px solid #eee;
}

.profile-panel .col {
    width: 33%;
    height: 100px;
    text-align:center;
    padding: 20px 0;
    border-right: 1px solid #eee;
    font-size: 26px;
    box-sizing: border-box;
}

.profile-props .col {
    padding: 20px 0 20px 15px;
    box-sizing: border-box;
}

.profile-label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    color: #aaa;
    margin-bottom: 10px;
}

.profile-props .profile-label {
    text-transform: capitalize;
    font-size: 13px;
}

.profile-panel .col:last-child {
    border: none;
}

.profile-section {
    margin: 40px 0 30px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 2px;
}

.profile-section h3 {
    font-weight:400;
    margin: 0;
    padding-bottom: 0;
}

.profile-section .section-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.trends {
    margin-top:30px;
}

.trends-banner {
    width: 100%;
    text-align: center;
}

.trends h2 {
    font-size: 22px;
    line-height: 34px;
    margin: 50px 0 70px;
    font-weight: 300;
    color: #000;
}

.trends-stats {
    position: relative;
    border-top: 1px solid #eee;
}

.trends-stats::after{
    position: absolute;
    content: "STATS";
    font-weight: 300;
    background-color: #fff;
    padding: 0 30px;
    color: #aaa;
    font-size: 18px;
    line-height: 36px;
    top: -18px;
    left: 42%;
}

.trends h3 {
    font-size: 32px;
    font-weight: 300;
    margin: 35px 0;
}

.emph {
    font-weight: 700;
    font-size: 1.1em;
}

.light {
    font-size: 0.85em;
    color: #888;
}


.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.col {
    float: left;
}
.col-right {
    float: right;
}


/*
 SVG Styles
 */
path { 
    stroke: #16a085;
    stroke-width: 2;
    fill: none;
}

.tick {
    font-size: 12px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
