.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.header {
    background-color: #f4f4f4;
    padding: 8px 20px;
    border-bottom: 1px solid #ddd;

}

.logo {
    color: #e74c3c;
    font-size: 28px;
    margin: 5px 20px 5px 0;
    padding: 0;
}

/* #searchForm {
    position: absolute;
    top: 310px;
    width: 100%;    
}

#searchBarContainer {
    width: 600px;
    margin: 0 auto;
} */

.sb {
    width: 500px;
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-top-color: #c0c0c0;
    padding: 6px 9px;
    font: 16px arial,sans-serif;
    line-height: 1.2em !important;
    margin: 6px 0;
}

#searchBarContainer .btn {
    margin-top: -1px;
    margin-left: 5px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: .65;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}

.list-wrapper{
    padding-left: 145px;
}

ul.company-list {
    list-style: none;
    margin:0; padding:0;
}

.company-list-item {
    padding: 9px 0 25px;
}

.company-name {
}

.company-name a:link, .company-name a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    line-height: 40px;
    transition: color 0.1s linear;
}

.company-name a:hover {
    color: #3850D9;
}

.company-meta {
    font-size: 12px;
    color: #888;
}

.company-item-img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.company-item-img-hlp {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.company-item-img img {
    max-height: 40px;
    max-width: 40px;
    vertical-align: middle;
    margin: auto 0;
}

.result-status {
    font-size: 14px;
    color: #aaa;
    padding: 20px 0 10px;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


.thumb-loaded .spinner, .thumb-failed .spinner, .thumb-loading img {
    display: none;
}

.thumb-failed img {
    background-color: #fff;
    border:2px dashed #ddd;
    width: 50px;
    height: 50px;
    content: "";
    display: block;
}

.pager {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin: 20px 0 30px;
}

.page-link {
    color: #000;
    font-weight:bold;
    padding: 4px 7px;
    min-width: 27px;
    text-align:center;
    border-radius: 3px;
    margin-right:15px;
    transition: all 0.05s linear;
}

.page-link.col-right{
    margin-right:0;
    margin-left: 15px;
}

.page-link:hover {
    background-color: #e74c3c;
    color :#fff;
    cursor:pointer;
}

.page-link.page-curr, .page-link.page-curr:hover {
    border: 1px solid #ddd;
    text-decoration:none;
    background:#fff;
    color: #e74c3c;
    cursor:default;
}


.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.col {
    float: left;
}
.col-right {
    float: right;
}